.header {
    padding: 0 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo{
    color:#123458;
    background-color: #FFB433;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    height:30px;
    width:30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 15px; /* Reduce spacing */
    flex: 1;
    padding: 0;
    margin-left: 950px; 
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: #fff;
    font-weight: 600;
    font-size: 16px; /* Reduce font size */
}
.nav-links a.active {
    border-bottom: 2px solid #FFB433;
}

#contact{
    background-color: #fff;
    color: #000;
    border-radius: 8px; /* Slightly reduced */
    padding: 10px 12px; /* Reduced padding */
    font-size: 16px;
    font-weight: bold;
    transition:background-color 0.1s ease, transform 0.3s ease;
}
#contact:hover{
    background-color: #FFB433;
    color: white !important;
    transform:scale(1.05);
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-left: 0; /* Override desktop setting */
        margin-top: 10px;
    }

    .nav-links a {
        font-size: 18px;
    }
}
