.projects {
    padding: 50px 0;
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center; /* Centers grid items */
    align-items: center;
    width: 100%;
    max-width: 900px; /* Prevents too many items per row */
    margin: 0 auto; /* Centers the whole grid */
}

.project-card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #000;
    height: 300px;
    padding: 20px; /* Increased padding */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* Stack elements */
    align-items: center;
    justify-content: space-between; /* Evenly distribute content */
    text-align: center;
}

.project-card img {
    height: 150px; /* Increased size */
    width: 300px;
    border-radius: 10px;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
    margin-bottom: 10px; /* Adds space between the image and text */
}

.project-card h3 {
    color: #FFB433;
    margin: 10px 0 5px 0; /* Added spacing */
}

.project-card p {
    flex-grow: 1; /* Pushes the text downward if necessary */
    padding: 0 10px; /* Ensures it doesn’t touch the edges */
    color:#000;
}

.project-link {
    color: #5089c7;
    font-weight: 600;
    text-decoration: none;
    margin-top: auto; /* Pushes link to the bottom */
}


.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {

    .project-card {
        padding: 15px;
    }
}